<!--单项选择题-->
<div ng-if="value.type=='pull_single_select'">
    <div style="font-weight: bold">{{value.data.title}}</div>
    <div style="margin-top: 10px">
        <select class="form-control" ng-model="value.data.selected">
            <option ng-repeat="subValue in value.data.option track by $index" value="{{$index}}">{{subValue.text}}</option>
        </select>
        <!--<div ng-repeat="subValue in value.data.option track by $index" style="border: 1px solid gainsboro; border-width: 1px 0 0 0; padding: 5px 12px">-->
            <!--<label style="width: 100%">-->
                <!--<input type="radio" ng-model="value.data.selected" value="{{$index}}">-->
                <!--<span style="font-weight: normal">{{subValue.text}}</span>-->
            <!--</label>-->
        <!--</div>-->
    </div>
</div>