<!--选择题：包括单选、多选等-->
<div ng-if="manage.analyseData.sheetClassify.select.indexOf(value.type)>-1">
    <div style="padding: 10px 0">
        <span style="font-weight: bold">第{{manage.getQuestionnaireNum($index)}}题：</span>
        <span>{{value.data.title}}</span>
    </div>
    <table class="table table-condensed table-striped table-hover" style="text-align: center; width: 70%;border: 1px solid gainsboro;">
        <thead>
        <tr>
            <th style="width: 250px; text-align: center">选项</th>
            <th style="width: 70px; text-align: center">小计</th>
            <th style="width: 250px; text-align: center">比例</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="tdValue in value.data.option track by $index">
            <td>{{tdValue.text}}</td>
            <td>{{manage.getStatisticNum('selectMinCount', manage.analyseData.result[value.timestamp][$index])}}</td>
            <td>
                <div>
                    <div class="progress" style="width: 150px; display: inline-block; margin-bottom: 0; vertical-align: middle; height: 12px; margin-right: 10px">
                        <div class="progress-bar progress-bar-info" role="progressbar"
                             style="width: {{manage.getStatisticNum('selectPercent',manage.analyseData.result[value.timestamp][$index],
                              manage.analyseData.result[value.timestamp])}}%;"></div>
                    </div>
                    <div style="display: inline-block; vertical-align: middle">{{manage.getStatisticNum('selectPercent',
                        manage.analyseData.result[value.timestamp][$index], manage.analyseData.result[value.timestamp])}}%</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>总计</td>
            <td>{{manage.getStatisticNum('selectSum', manage.analyseData.result[value.timestamp])}}</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>