<style>
    .navigationItem:hover{
        background: #788ea5d6;
    }
    .itemTrigger{
        background: rgba(239, 171, 103, 0.83);
    }
</style>

<div style="position: fixed;z-index: 10; top: 0; left: 0; bottom: 0; width: 160px; padding: 50px 0 0 0; background: #415c7b">
    <div class="navigationItem" ng-class="{'itemTrigger':manage.overallData.navigation=='createSheet'}"
         ng-click="manage.changeNavigation('/manage/createSheet')" style="cursor: pointer;color: white; font-size: 15px; padding: 12px 0 12px 20px;">
        <i class="fa fa-edit"></i>
        <span style="margin-left: 12px">新建问卷</span>
    </div>
    <div class="navigationItem" ng-class="{'itemTrigger':manage.overallData.navigation=='allSheet'}"
         ng-click="manage.changeNavigation('/manage/allSheet')" style="cursor: pointer;color: white; font-size: 15px; padding: 12px 0 12px 20px;">
        <i class="fa fa-file-text-o"></i>
        <span style="margin-left: 12px">所有问卷</span>
    </div>
    <div class="navigationItem" ng-class="{'itemTrigger':manage.overallData.navigation=='analyseSheet'}"
         ng-click="manage.changeNavigation('/manage/analyseSheet')" style="cursor: pointer;color: white; font-size: 15px; padding: 12px 0 12px 20px;">
        <i class="fa fa-bar-chart"></i>
        <span style="margin-left: 12px">统计分析</span>
    </div>

</div>
