<!--渲染页面-->
<div style="display: flex;flex-direction: row;align-items: stretch;height: 100%; background: #f4f4f4; border: 1px solid gainsboro; border-width: 0 1px 0 1px">
    <div style="flex: 1"></div>
    <div class="scrollBar-7"
         style="overflow-y: auto;background: white; width: 400px; padding: 20px 0; box-shadow: 0 0 7px #a8a8a8; margin-top: 15px; ">
        <div class="widgetMouseOn" ng-click="design.editWidgetData($index)"
             ng-class="{'widgetMouseSelected':design.overallData.editRenderIndex==$index}"
             ng-repeat="value in design.sheet track by $index" style="position: relative; display: flex;">
            <div style="flex: 1"></div>
            <div style="flex: 8">
                <!--占位空间-->
                <div style="width: 100%;height: 20px"></div>
                <div>
                    <!--段落说明-->
                    <design-render-paragraph></design-render-paragraph>
                    <!--单选题数据渲染页面-->
                    <design-render-single-select></design-render-single-select>
                    <!--多选题数据渲染页面-->
                    <design-render-multi-select></design-render-multi-select>
                    <!--矩阵单项选择页面渲染-->
                    <design-render-matrix-single-select></design-render-matrix-single-select>
                    <!--量标题-->
                    <design-render-single-scale></design-render-single-scale>
                    <!--矩阵量表-->
                    <design-render-matrix-single-scale></design-render-matrix-single-scale>
                    <!--下拉框-->
                    <design-render-pull-single-select></design-render-pull-single-select>
                    <!--矩阵多选-->
                    <design-render-matrix-multi-select></design-render-matrix-multi-select>
                    <!--单项填空-->
                    <design-render-single-fill></design-render-single-fill>
                    <!--矩阵填空-->
                    <design-render-matrix-fill></design-render-matrix-fill>
                    <!--详情填空-->
                    <design-render-detail-fill></design-render-detail-fill>
                </div>
                <!--占位空间-->
                <div style="width: 100%;height: 20px"></div>
            </div>
            <div style="flex: 1"></div>
        </div>
    </div>
    <div style="flex: 1"></div>
</div>